# Ignore system and environment files
.env
.DS_Store

# Ignore build output
.next/
out/
dist/

# Ignore dependencies
node_modules/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE settings
.vscode/
.idea/
.next/
